<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Peliculas del 2022</title>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/2023.css">
</head>
<body>
   <div class="body">
      <!-- inicio navbar-->
      <div class="arriba">
         <div class="img">
      <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
   </div>
      <h1><center>FILMS.CO</center></h1>
      <div class="img2">
      <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
   </div>
   </div>
      <nav >
         <div class="letras">
         <ul class="menu_horizontal">
            <li><a href="../views/index.html">Inicio</a></li>
         <li>
            <a href="../views/2022.html">2022</a>
         <ul class="menu_desplegable">
            <li><a href="../views/1_2022.html">Primer Semestre</a></li>
            <li><a href="../views/2_2022.html">Segundo Semestre</a></li>
         </ul>
         </li>
         <li>
            <a href="../views/2023.html">2023</a>
         <ul class="menu_desplegable">
            <li><a href="../views/1_2023.html">Primer Semestre</a></li>
            <li><a href="../views/2_2023.html">Segundo Semestre</a></li>
         </ul>
      </li>
         </ul>
      </div>
      </nav>
         <!--fin navbar-->
         <h2><center>Enero</center></h2>
         <!--inicio tarjetas-->
      <div class="tarjetas">
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/1.png" alt="">
               <h3>La Ballena</h3>
            </div>
            <div class="contenido atras">
               <h3>La Ballena</h3>
               <p>Genéro: Drama
                  <br>Un solitario profesor de inglés con obesidad severa (Brendan Fraser) intenta reconectar con su hija adolescente en una última oportunidad de redención.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/1.jpg" alt="">
               <h3>The Old Way</h3>
            </div>
            <div class="contenido atras">
               <h3>The Old Way</h3>
               <p>Genéro: Western. Thriller. Acción. Drama
                  <br>Un viejo pistolero y su hija deben afrontar las consecuencias de su pasado, cuando el hijo de un hombre al que asesinó hace años llega para vengarse.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/3.jpg" alt="">
               <h3>M3GAN</h3>
            </div>
            <div class="contenido atras">
               <h3>M3GAN</h3>
               <p>Genéro: Terror. Thriller. Ciencia ficción
                  <br>
                  M3GAN es una maravilla de la inteligencia artificial, una muñeca realista programada para ser la mejor compañera de los niños y la mayor aliada de los padres. </p>
            </div>
         </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2023/Primer Semestre/2.jpg" alt="">
                  <h3>El Piloto</h3>
               </div>
               <div class="contenido atras">
                  <h3>El Piloto</h3>
                  <p>Genéro: Acción. Aventuras. Thriller 
                     <br>En la noche de fin de año, el piloto experto Brodie Torrance (Gerard Butler) realiza un arriesgado aterrizaje cuando su avión, repleto de pasajeros, es alcanzado por un rayo.</p>
               </div>
            </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2023/Primer Semestre/3.jpg" alt="">
                  <h3>Detective Knight</h3>
               </div>
               <div class="contenido atras">
                  <h3>Detective Knight</h3>
                  <p>Genéro: Acción. Intriga
                     <br>La asignación de última hora del detective James Knight al turno del Día de la Independencia se convierte en una carrera para evitar que una ambulancia desequilibrada ponga en peligro las festividades de la ciudad. </p>
               </div>
            </div>
         
         </div>
          <!--fin tarjetas-->
          <h2><center>Febrero</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/4.jpg" alt="">
            <h3>Llaman a la Puerta</h3>
         </div>
         <div class="contenido atras">
            <h3>Llaman a la Puerta</h3>
            <p>Genéro: Intriga. Thriller. Terror. Drama  
               <br>Durante unas vacaciones en una cabaña en un bosque alejada de todo, una niña y sus padres se convierten en rehenes de cuatro desconocidos armados que obligan a la familia a tomar una decisión imposible para evitar el apocalipsis.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/6.jpeg" alt="">
            <h3>Las Momias</h3>
         </div>
         <div class="contenido atras">
            <h3>Las Momias</h3>
            <p>Genéro: Infantil/Comedia
               <br>Tres momias egipcias recorren el Londres contemporáneo en busca de un anillo robado por el codicioso arqueólogo Lord Carnaby.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/7.jpg" alt="">
            <h3>Ásterix y Obelix</h3>
         </div>
         <div class="contenido atras">
            <h3>Ásterix y Obelix</h3>
            <p>Genéro: Comedia. Aventuras 
               <br>Es el año 50 A.C., la Emperatriz de China acaba de ser encarcelada tras un golpe de Estado incitado por Dang Sin Kuing, un príncipe traidor.  </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/8.jpg" alt="">
               <h3>Locas por Brady</h3>
            </div>
            <div class="contenido atras">
               <h3>Locas por Brady</h3>
               <p>Genéro:Comedia
                  <br>Cuatro veteranas amigas se proponen como misión ir a la Super Bowl y conocer a la superestrella de la NFL Tom Brady.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/9.jpg" alt="">
               <h3>Embaucadores</h3>
            </div>
            <div class="contenido atras">
               <h3>Embaucadores</h3>
               <p>Genéro: Thriller 
                  <br>Nadie es lo que parece en este thriller neo-noir ambientado en Nueva York donde imperan la manipulación implacable y los peligrosos juegos de poder. </p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <h2><center>Marzo</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque3">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/10.jpg" alt="">
            <h3>Children of the corn</h3>
         </div>
         <div class="contenido atras">
            <h3>Children of the corn</h3>
            <p>Genéro: Terror
               <br>En un pequeño pueblo en Nebraska, un grupo de adultos son masacrados por sus hijos, después de que la irresponsabilidad de los adultos arruina la cosecha y el futuro de los niños. Una actualización moderna de la historia de Stephen King. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/11.jpg" alt="">
            <h3>Creed 3</h3>
         </div>
         <div class="contenido atras">
            <h3>Creed 3</h3>
            <p>Genéro: Drama
               <br>Después de dominar el mundo del boxeo, Adonis Creed ha progresado tanto en su carrera como en su vida familiar.  </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/12.jpeg" alt="">
            <h3>Hunt her, Kill her</h3>
         </div>
         <div class="contenido atras">
            <h3>Hunt her, Kill her</h3>
            <p>Genéro: Terror/Crimen
               <br>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/13.png" alt="">
               <h3>Scream 6</h3>
            </div>
            <div class="contenido atras">
               <h3>Scream 6</h3>
               <p>Genéro: Terror. Thriller. Intriga
                  <br>Tras los últimos asesinatos de Ghostface, los cuatro supervivientes abandonan Woodsboro para dar comienzo a un nuevo capítulo en la ciudad de Nueva York.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/14.jpg" alt="">
               <h3>Shazam!</h3>
            </div>
            <div class="contenido atras">
               <h3>Shazam!</h3>
               <p>Genéro: Fantástico. Comedia. Acción. Aventuras
                  <br>Billy Batson y sus compañeros adoptados han recibido los poderes de los dioses pero aún están aprendiendo a compaginar sus vidas de adolescentes con sus alter-egos superheróicos.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
      <h2><center>Abril</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque4">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/15.jpg" alt="">
            <h3>Un Día Como Leon</h3>
         </div>
         <div class="contenido atras">
            <h3>Un Día Como Leon</h3>
            <p>Genéro: Suspenso/Acción
               <br>Usuarios de Google
               Jackie Powers es un buen tipo pero un pésimo asesino a sueldo que toma como rehén a una camarera cuando un trabajo le sale mal. Jackie le revela que necesita dinero para sacar a su hijo de la cárcel y ella urde un plan inesperado.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/16.jpg" alt="">
            <h3>Super Mario Bros</h3>
         </div>
         <div class="contenido atras">
            <h3>Super Mario Bros</h3>
            <p>Genéro: Animación. Aventuras. Infantil. Fantástico. Comedia
               <br>Mientras trabajan en una avería subterránea, los fontaneros de Brooklyn, Mario y su hermano Luigi, viajan por una misteriosa tubería hasta un nuevo mundo mágico. Pero, cuando los hermanos se separan, Mario deberá emprender una épica misión para encontrar a Luigi.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/17.jpg" alt="">
            <h3>Air</h3>
         </div>
         <div class="contenido atras">
            <h3>Air</h3>
            <p>Genéro: Drama | Deporte. Baloncesto. Bolsa & Negocios
               <br>
               La historia narra la improbable y revolucionaria asociación que a mediados de los 80 se firmó entre Michael Jordan -un novato en ese momento- y la incipiente sección de baloncesto de la empresa de calzado deportivo Nike; un acuerdo que revolucionaría el mundo del deporte y la cultura contemporánea con la marca Air Jordan. </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/18.jpg" alt="">
               <h3>Paint</h3>
            </div>
            <div class="contenido atras">
               <h3>Paint</h3>
               <p>Genéro: Comedia
                  <br>El talentoso Carl Nargle ha estado presentando su propio programa de pintura en la televisión pública de Vermont durante décadas. Su arte cautiva y ha atraído la atención de muchas mujeres a lo largo de los años, especialmente de las que trabajan en la estación.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/19.jpg" alt="">
               <h3>Renfield</h3>
            </div>
            <div class="contenido atras">
               <h3>Renfield</h3>
               <p>Genéro: Terror. Comedia
                  <br>Renfield es el torturado asistente del vampiro más narcisista de la historia: Drácula. Renfield se ve obligado a procurarle víctimas a su amo y hacer todo aquello que este le ordene, por inmoral que sea.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <h2><center>Mayo</center></h2>
       <!--inicio tarjetas-->
   <div class="tarjetasbloque5">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/20.jpg" alt="">
            <h3>One Ranger</h3>
         </div>
         <div class="contenido atras">
            <h3>One Ranger</h3>
            <p>Genéro: Acción
               <br>Sigue a una Texas Ranger Jane cuando es reclutada por la inteligencia británica para rastrear a un peligroso terrorista y evitar que ataque Londres. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/21.jpg" alt="">
            <h3>Guardians Galaxy</h3>
         </div>
         <div class="contenido atras">
            <h3>Guardians Galaxy</h3>
            <p>Genéro: Ciencia ficción. Aventuras. Acción. Comedia. Drama
               <br>La querida banda de los Guardianes se instala en Knowhere. Pero sus vidas no tardan en verse alteradas por los ecos del turbulento pasado de Rocket.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/22.jpg" alt="">
            <h3>Silo</h3>
         </div>
         <div class="contenido atras">
            <h3>Silo</h3>
            <p>Genéro: Serie de TV. Ciencia ficción. Drama
               <br>Serie de TV (2023-). 1 temporada. 10 episodios. En un futuro ruinoso y tóxico, existe una comunidad en un gigantesco silo subterráneo que alcanza cientos de pisos de profundidad. Allí, las personas viven en una sociedad llena de normas que creen que están destinadas a protegerlas.</p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/23.jpg" alt="">
               <h3>Hypnotic</h3>
            </div>
            <div class="contenido atras">
               <h3>Hypnotic</h3>
               <p>Genéro: Thriller. Acción. Intriga 
                  <br>Decidido a encontrar a su hija desaparecida, el detective Danny Rourke (Ben Affleck) se ve inmerso en un laberinto mientras investiga una serie de asaltos a bancos que desafían la realidad y que le harán cuestionarse sobre todo y todos los que le rodean.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
   <h2><center>Junio</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque6">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/24.jpg" alt="">
            <h3>The Boogeyman</h3>
         </div>
         <div class="contenido atras">
            <h3>The Boogeyman</h3>
            <p>Genéro: Terror
               <br>La alumna de instituto Sadie Harper y su hermana pequeña Sawyer se están recuperando de la reciente muerte de su madre pero no cuentan con demasiado apoyo por parte de su padre, Will, un terapeuta que está lidiando con su propio dolor.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/25.jpg" alt="">
            <h3>Transformers</h3>
         </div>
         <div class="contenido atras">
            <h3>Transformers</h3>
            <p>Genéro: Acción. Aventuras. Ciencia ficción. Comedia 
               <br>En 1994, un par de arqueólogos se ven envueltos en un antiguo conflicto a través de una aventura por todo el mundo que se relaciona con tres facciones de Transformers</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/26.jpg" alt="">
            <h3>Flash</h3>
         </div>
         <div class="contenido atras">
            <h3>Flash</h3>
            <p>Genéro: Ciencia ficción. Acción. Fantástico. Comedia
               <br>Los mundos chocan en "Flash" cuando Barry utiliza sus superpoderes para viajar en el tiempo y cambiar los acontecimientos del pasado. </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/Primer Semestre/27.jpg" alt="">
               <h3>Elementos</h3>
            </div>
            <div class="contenido atras">
               <h3>Elementos</h3>
               <p>Genéro: Animación. Aventuras. Romance
                  <br>Ambientada en Ciudad Elemento, donde conviven habitantes de fuego, agua, tierra y aire. La protagonista de la historia es Candela, una joven fuerte, ingeniosa y con carácter, cuya amistad con un chico sensible, afable y tranquilo, llamado Nilo, cambia su perspectiva sobre el mundo en el que viven</p>
            </div>
         </div>
         
      </div>
       <!--fin tarjetas-->

          
       <div class="link">
       <a href="../views/2_2023.html"><center>Ver más</center></a>
      </div>
      <br>
      <br>
   </div>
</body>
</html>