<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Peliculas del 2022</title>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/2022.css">
</head>
<body>
   <div class="body">
   <!-- inicio navbar-->
   <div class="arriba">
      <div class="img">
   <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
</div>
   <h1><center>FILMS.CO</center></h1>
   <div class="img2">
   <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
</div>
</div>
   <nav >
      <ul class="menu_horizontal">
         <li><a href="../views/index.html">Inicio</a></li>
      <li>
         <a href="../views/2022.html">2022</a>
      <ul class="menu_desplegable">
         <li><a href="../views/1_2022.html">Primer Semestre</a></li>
         <li><a href="../views/2_2022.html">Segundo Semestre</a></li>
      </ul>
      </li>
      <li>
         <a href="../views/2023.html">2023</a>
      <ul class="menu_desplegable">
         <li><a href="../views/1_2023.html">Primer Semestre</a></li>
         <li><a href="../views/2_2023.html">Segundo Semestre</a></li>
      </ul>
   </li>
      </ul>
   </nav>
      <!--fin navbar-->
      <h2><center>Enero</center></h2>
      <!--inicio tarjetas-->
   <div class="tarjetas"> 
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Primer Semestre/2.jpg" alt="">
            <h3>El Gato con Botas</h3>
         </div>
         <div class="contenido atras">
            <h3>El Gato con Botas</h3>
            <p>Genéro: Animación, Aventuras, Comedia
               <br>El Gato con Botas descubre que, debido a su pasión por la aventura, ha gastado ya 8 de sus 9 vidas. Por tanto, emprende un peligroso viaje en busca del legendario Último Deseo para solicitar que le restauren las vidas que ya perdió. </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/4.jpg" alt="">
               <h3>Muerte Infinita</h3>
            </div>
            <div class="contenido atras">
               <h3>Muerte Infinita</h3>
               <p>Genéro: Thriller, Drama
                  <br>James y Em, dos jóvenes ricos y enamorados que están de vacaciones en un lujoso resort de la isla ficticia de La Tolqa, en donde un accidente fatal expondrá la subcultura perversa, la violencia imprudente y los horrores surrealistas del turismo hedonista.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/6.jpg" alt="">
               <h3>Scream</h3>
            </div>
            <div class="contenido atras">
               <h3>Scream</h3>
               <p>Genéro: Terror
                  <br>Veinticinco años después de que una serie de brutales asesinatos conmocionara al tranquilo pueblo de Woodsboro, un nuevo asesino se ha puesto la máscara de Ghostface y comienza a perseguir a un grupo de adolescentes para resucitar los secretos del mortífero pasado del pueblo.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/7.webp" alt="">
               <h3>Un Vecino Gruñon</h3>
            </div>
            <div class="contenido atras">
               <h3>Un Vecino Gruñon</h3>
               <p>Genéro: Comedia, Drama
                  <br>Cuando una alegre joven familia se muda a la casa de al lado, Otto encuentra la horma de su zapato en la espabilada y muy embarazada Marisol, lo que conlleva a una muy improbable amistad que pondrá su mundo patas arriba.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/8.jpg" alt="">
               <h3>La Hija de la Reina</h3>
            </div>
            <div class="contenido atras">
               <h3>La Hija de la Reina</h3>
               <p>Genéro: Drama. Fantástico. Aventuras
                  <br>
                  La búsqueda desesperada de la inmortalidad del Rey Luis XIV le lleva a capturar una sirena para robarle su energía vital, un hecho que se complica todavía más cuando su hija ilegítima descubre a la criatura.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <!--inicio tarjetas-->
       <!--fin tarjetas-->
       <h2><center>Febrero</center></h2>
       <!--inicio tarjetas-->
       <div class="tarjetasbloque3">
         <div class="tarjetas">
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2022/Primer Semestre/10.jpg" alt="">
                  <h3>Muerte en el Nilo</h3>
               </div>
               <div class="contenido atras">
                  <h3>Muerte en el Nilo</h3>
                  <p>Genéro: Crimen, Drama, Misterio, Thriller
                     <br>Las vacaciones egipcias del detective belga Hércules Poirot a bordo de un glamuroso barco de vapor se convierten en la aterradora búsqueda de un asesino cuando la idílica luna de miel de una pareja perfecta se ve truncada de la forma más trágica.</p>
               </div>
            </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2022/Primer Semestre/11.jpg" alt="">
                  <h3>Uncharted</h3>
               </div>
               <div class="contenido atras">
                  <h3>Uncharted</h3>
                  <p>Genéro: Acción, Aventuras
                     <br>El astuto ladrón Nathan Drake (Tom Holland) es reclutado por el veterano cazatesoros Victor “Sully” Sullivan (Mark Wahlberg) para recuperar una gran fortuna amasada por Fernando de Magallanes hace 500 años y perdida por la Casa de Moncada.</p>
               </div>
            </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2022/Primer Semestre/12.jpg" alt="">
                  <h3>Cásate Conmigo</h3>
               </div>
               <div class="contenido atras">
                  <h3>Cásate Conmigo</h3>
                  <p>Genéro: Comedia, Romance
                     <br>
                   la revelación musical del momento (interpretado por Maluma en su debut cinematográfico), forman la pareja más sexy e influyente del mundo. Con su irresistible single “Marry Me” en lo más alto de las listas de ventas, están a punto de casarse ante sus fans en un concierto.</p>
               </div>
            </div>
               <div class="tarjeta">
                  <div class="contenido frente">
                     <img src="../assets/img/2022/Primer Semestre/13.jpg" alt="">
                     <h3>Luz Negra</h3>
                  </div>
                  <div class="contenido atras">
                     <h3>Luz Negra</h3>
                     <p>Genéro: Acción, Thriller
                        <br>Sinopsis
                        Un agente extraoficial del FBI (Liam Neeson) se encarga de misiones de rescate de agentes encubiertos en apuros, pero se encuentra envuelto en medio de una conspiración mortal cuando un agente encubierto comienza a interrogar a las mismas personas para las que trabaja.</p>
                  </div>
               </div>
            </div>
         </div>
             <!--fin tarjetas-->
             <h2><center>Marzo</center></h2>
             <div class="tarjetasbloque5">
               <div class="tarjetas">
                  <div class="tarjeta">
                     <div class="contenido frente">
                        <img src="../assets/img/2022/Primer Semestre/14.jpg" alt="">
                        <h3>The Batman</h3>
                     </div>
               <div class="contenido atras">
                  <h3>The Batman</h3>
                  <p>Genéro: Acción, Aventuras, Drama
                   <br>Un superhéroe desilusionado y desesperado que comienza a darse cuenta de que la ira que lo consume no lo hace mejor que los despiadados criminales a los que hace frente.</p>
               </div>
            </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2022/Primer Semestre/15.jpg" alt="">
                   <h3>La Ciudad Perdida</h3>
               </div>
               <div class="contenido atras">
                  <h3>La Ciudad Perdida</h3>
                  <p>Genéro: Acción, Aventuras, Comedia
                     <br>La carrera literaria de la brillante, a la vez que huraña, escritora de novelas Loretta Sage (Sandra Bullock) ha girado en torno a las populares novelas románticas de aventuras que, ambientadas en lugares exóticos, protagoniza un atractivo galán cuya imagen aparece reproducida en todas las portadas</p>
               </div>
            </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2022/Primer Semestre/16.jpg" alt="">
                  <h3>Proyecto Adam</h3>
               </div>
               <div class="contenido atras">
                  <h3>Proyecto Adam</h3>
                  <p>Genéro: Acción, Aventuras, Ciencia Ficción, Comedia
                     <br>
                     La historia sigue a Reynolds como un hombre que debe viajar en el tiempo para obtener ayuda de su yo de 13 años (Scobell). Juntos tendrán que encontrarse con su difunto padre, quien en ese momento tiene la misma edad que Reynolds, y arreglar las cosas para salvar el futuro.</p>
               </div>
            </div>
               <div class="tarjeta">
                  <div class="contenido frente">
                     <img src="../assets/img/2022/Primer Semestre/17.jpg" alt="">
                        <h3>Red</h3>
                     </div>
                     <div class="contenido atras">
                        <h3>Red</h3>
                     <p>Genéro: Animación
                     <br>La película trata de una joven de 13 años que se transforma en un panda gigante de color rojo cuando se altera demasiado (es decir, casi siempre).</p>
                  </div>
               </div>
            </div>
         </div>
      <!--fin tarjetas-->
      <h2><center>Abril</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque6">
      <div class="tarjetas">
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/18.jpg" alt="">
               <h3>Morbius</h3>
            </div>
            <div class="contenido atras">
               <h3>Morbius</h3>
               <p>Genéro: Acción, Ciencia Ficción
                  <br>Peligrosamente enfermo de un extraño trastorno sanguíneo, y determinado a salvar a otras personas que padecen su mismo destino, el doctor Morbius intenta una apuesta desesperada. Lo que en un principio parece ser un éxito radical, pronto se revela como un remedio potencialmente peor que la enfermedad.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/19.jpg" alt="">
               <h3>El Increible Talento</h3>
                 
            </div>
            <div class="contenido atras">
               <h3>El Increible Talento</h3>
               <p>Genéro: Acción, Comedia
                  <br>a versión ficticia de Cage es un actor sin blanca que se ve obligado a aceptar una oferta de un millón de dólares para asistir al cumpleaños de un excéntrico multimillonario (Pedro Pascal), muy fan de su trabajo.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/20.jpg" alt="">
               <h3>Todo en Todos Lados</h3>
            </div>
            <div class="contenido atras">
               <h3>Todo en Todos Lados</h3>
               <p>Genéro:
                  <br>
                  Cuando una ruptura interdimensional altera la realidad, Evelyn (Michelle Yeoh), una inmigrante china en Estados Unidos, se ve envuelta en una aventura salvaje en la que solo ella puede salvar el mundo.</p>
            </div>
         </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2022/Primer Semestre/21.jpg" alt="">
                  <h3>El Hombre del Norte</h3>
               </div>
               <div class="contenido atras">
                  <h3>El Hombre del Norte</h3>
                  <p>Genéro: Aventuras. Acción. Drama
                     <br>En Islandia, en pleno siglo X, un príncipe nórdico (Skarsgard) busca vengar a toda costa la muerte de su padre.</p>
               </div>
            </div>
         </div>
      </div>
          <!--fin tarjetas-->
          <h2><center>Mayo</center></h2>
          <!--inicio tarjetas-->
          <div class="tarjetasbloque7">
            <div class="tarjetas">
               <div class="tarjeta">
                  <div class="contenido frente">
                     <img src="../assets/img/2022/Primer Semestre/22.jpg" alt="">
                     <h3>Doctor Strange</h3>
                  </div>
                  <div class="contenido atras">
                     <h3>Doctor Strange</h3>
                     <p>Genéro: Fantástico. Acción. Terror
                        <br>Viaja a lo desconocido con el Doctor Strange, quien, con la ayuda de tanto antiguos como nuevos aliados místicos, recorre las complejas y peligrosas realidades alternativas del multiverso para enfrentarse a un nuevo y misterioso adversario.</p>
                  </div>
               </div>
               <div class="tarjeta">
                  <div class="contenido frente">
                     <img src="../assets/img/2022/Primer Semestre/23.jpg" alt="">
                     <h3>El Padre Stu</h3>
                  </div>
                  <div class="contenido atras">
                     <h3>El Padre Stu</h3>
                     <p>Genéro: Drama 
                        <br>Drama biográfico sobre Stuart Long, un boxeador convertido en sacerdote que inspiró a innumerables personas durante su viaje desde la autodestrucción hasta la redención. Cuando una lesión pone fin a su carrera como boxeador amateur, Stuart Long se muda a Los Ángeles soñando con ser actor.</p>
                  </div>
               </div>
               <div class="tarjeta">
                  <div class="contenido frente">
                     <img src="../assets/img/2022/Primer Semestre/24.jpg" alt="">
                     <h3>Lux AEterna</h3>
                  </div>
                  <div class="contenido atras">
                     <h3>Lux AEterna</h3>
                     <p>Genéro: Musical 
                        <br>
                        Vídeo musical del tema de Metallica: Lux Æterna</p>
                  </div>
               </div>
               </div>
            </div>
          <!--fin tarjetas-->
   <h2><center>Junio</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque8">
      <div class="tarjetas">
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/25.jpg" alt="">
               <h3>Elvis</h3>
            </div>
            <div class="contenido atras">
               <h3>Elvis</h3>
               <p>Genéro: Drama  
                  <br>La película explora la vida y la música de Elvis Presley (Butler) a través del prisma de su relación con el coronel Tom Parker (Hanks), su enigmático manager. La historia profundiza en la compleja dinámica que existía entre Presley y Parker que abarca más de 20 años. </p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/26.jpg" alt="">
               <h3>Jurassic World Dominion</h3>
            </div>
            <div class="contenido atras">
               <h3>Jurassic World Dominion</h3>
               <p>Genéro: Ciencia ficción. Acción. Fantástico. Aventuras
                  <br>Cuatro años después de la destrucción de Isla Nublar, los dinosaurios ahora conviven -y cazan- con los seres humanos en todo el mundo.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/27.jpg" alt="">
               <h3>Nop!</h3>
            </div>
            <div class="contenido atras">
               <h3>Nop!</h3>
               <p>Genéro: Intriga. Fantástico. Terror
                  <br>
                  Dos rancheros de un remoto pueblo del interior de California hacen un descubrimiento tan insólito como escalofriante.</p>
            </div>
         </div>
         </div>
      </div>
    <!--fin tarjetas-->
    <div class="link">
    <a href="../views/2_2022.html"><center>Ver más</center></a>
   </div>
   <br>
   <br>
</div>
</body>
</html>