<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Peliculas del 2022</title>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/2023.css">
</head>
<body>
   <div class="body">
      <!-- inicio navbar-->
      <div class="arriba">
         <div class="img">
      <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
   </div>
      <h1><center>FILMS.CO</center></h1>
      <div class="img2">
      <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
   </div>
   </div>
      <nav >
         <div class="letras">
         <ul class="menu_horizontal">
            <li><a href="../views/index.html">Inicio</a></li>
         <li>
            <a href="../views/2022.html">2022</a>
         <ul class="menu_desplegable">
            <li><a href="../views/1_2022.html">Primer Semestre</a></li>
            <li><a href="../views/2_2022.html">Segundo Semestre</a></li>
         </ul>
         </li>
         <li>
            <a href="../views/2023.html">2023</a>
         <ul class="menu_desplegable">
            <li><a href="../views/1_2023.html">Primer Semestre</a></li>
            <li><a href="../views/2_2023.html">Segundo Semestre</a></li>
         </ul>
      </li>
         </ul>
      </div>
      </nav>
         <!--fin navbar-->
         <h2><center>julio</center></h2>
         <!--inicio tarjetas-->
      <div class="tarjetas-2">
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/4-2.jpg" alt="">
               <h3>Insidious</h3>
            </div>
            <div class="contenido atras">
               <h3>Insidious</h3>
               <p>Genéro: Terror
                  <br> Para poner finalmente a sus demonios a descansar, Josh (Patrick Wilson) y su hijo Dalton (Ty Simpkins), ya un universitario, deben de ir más profundo hacia "el Más Allá" de lo que nunca habían ido, encontrándose con el pasado oscuro de su familia y un sin número de espantosos terrores que se esconden detrás de la puerta roja. </p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/2-2.jpg" alt="">
               <h3>Mother may I?</h3>
            </div>
            <div class="contenido atras">
               <h3>Mother may I?</h3>
               <p>Genéro: Thriller.
                  <br>Cuando Anya comienza a comportarse como su madre recientemente fallecida, Emmett debe enfrentar sus traumas más profundos para liberar a su prometida de esta posesión desconcertante.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/5-2.jpg" alt="">
               <h3>The Flood</h3>
            </div>
            <div class="contenido atras">
               <h3>The flood</h3>
               <p>Genéro:Terror. Acción
                  <br>
                  Una audaz fuga de la cárcel durante una peligrosa tormenta se ve interrumpida por caimanes hambrientos. </p>
            </div>
         </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2023/segundo semestre/6-2.jpg" alt="">
                  <h3>Barbie</h3>
               </div>
               <div class="contenido atras">
                  <h3>Barbie  </h3>
                  <p>Genéro: Comedia. Fantástico
                     <br>Barbie (Margot Robbie) lleva una vida ideal en Barbieland, allí todo es perfecto, con chupi fiestas llenas de música y color, y todos los días son el mejor día. Claro que Barbie se hace algunas preguntas, cuestiones bastante incómodas que no encajan con el mundo idílico en el que ella y las demás Barbies viven.</p>
               </div>
            </div>
            <div class="tarjeta">
               <div class="contenido frente">
                  <img src="../assets/img/2023/segundo semestre/7-2.jpg" alt="">
                  <h3>Oppenheimer</h3>
               </div>
               <div class="contenido atras">
                  <h3>Oppenheimer</h3>
                  <p>Genéro: Acción. Drama.
                     <br>En tiempos de guerra, el brillante físico estadounidense Julius Robert Oppenheimer, al frente del 'Proyecto Manhattan', lidera los ensayos nucleares para construir la bomba atómica para su país. Impactado por su poder destructivo, Oppenheimer se cuestiona las consecuencias morales de su creación </p>
               </div>
            </div>
         
         </div>
          <!--fin tarjetas-->
          <h2><center>Agosto</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque2-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/1-2.jpg" alt="">
            <h3>Tortugas Ninja</h3>
         </div>
         <div class="contenido atras">
            <h3>Tortugas Ninja</h3>
            <p>Genéro: Animación. Acción. Aventuras. Comedia. Fantástico
               <br>Después de pasar años apartados del mundo humano, los hermanos Tortuga se proponen ganarse el corazón de los habitantes de Nueva York y que les acepten como quinceañeros normales, llevando a cabo actos heroicos.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/3-2.jpg" alt="">
            <h3>Megalodon 2</h3>
         </div>
         <div class="contenido atras">
            <h3>Megalodon 2</h3>
            <p>Genéro: Ciencia ficción. Terror. Acción
               <br>
               Un equipo de investigación inicia una misión que va a explorar las profundidades más abismales del mar. Pero su viaje se convierte en caos cuando un malévolo operativo minero amenaza su misión y los obliga a librar una batalla de alto riesgo por la supervivencia.   </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/8-2.jpg" alt="">
            <h3>The Colective</h3>
         </div>
         <div class="contenido atras">
            <h3>The Colective</h3>
            <p>Genéro: Acción
               <br>Un joven recluta de una misteriosa agencia de asesinos se vuelve rebelde en su primera misión: rastrear a un peligroso grupo de traficantes de personas.  </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/9-2.jpg" alt="">
               <h3>El último viaje</h3>
            </div>
            <div class="contenido atras">
               <h3>El último viaje</h3>
               <p>Genéro:Terror
                  <br>Basado en un solo capítulo, el Captain's Log, de la clásica novela Drácula de 1897 de Bram Stoker, la historia se desarrolla a bordo de la goleta rusa Demeter, que fue fletada para transportar carga privada (veinticuatro cajas de madera sin marcar) desde Carpatia a Londres. </p>
            </div>
         </div>
         
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/10-2.jpg" alt="">
               <h3>Blue Beetle</h3>
            </div>
            <div class="contenido atras">
               <h3>Blue Beetle</h3>
               <p>Genéro: Fantástico. Acción. Ciencia ficción
                  <br>Jaime Reyes, recién licenciado, regresa a casa lleno de metas para su futuro, pero descubre que su hogar no está exactamente como lo dejó. </p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <h2><center>Septiembre</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque3-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/11-2.jpg" alt="">
            <h3>The Equalizer</h3>
         </div>
         <div class="contenido atras">
            <h3>The Equalizer</h3>
            <p>Genéro: Acción
               <br>Desde que renunció a su vida como asesino del gobierno, Robert McCall ha luchado para reconciliarse con las cosas horribles que ha hecho en el pasado y encuentra un extraño consuelo en hacer justicia en nombre de los oprimidos. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/12-2.jpg" alt="">
            <h3>The Good Mother</h3>
         </div>
         <div class="contenido atras">
            <h3>The Good Mother</h3>
            <p>Genéro: Intriga. Drama
               <br>Después del asesinato de su hijo, una periodista forma una alianza con su novia embarazada para encontrar a los responsables de su muerte. Juntas, se enfrentan a un mundo de drogas y corrupción. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/13-2.jpg" alt="">
            <h3>La Monja 2</h3>
         </div>
         <div class="contenido atras">
            <h3>La Monja 2</h3>
            <p>Genéro: Terror
               <br>
               1956 –Francia. Un sacerdote es asesinado. Un mal se está extendiendo. La hermana Irene una vez más se encuentra cara a cara con Valak, la monja demonio. Secuela de 'La monja' (2018). </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/14-2.jpg" alt="">
               <h3>The Changeling</h3>
            </div>
            <div class="contenido atras">
               <h3>The Changeling</h3>
               <p>Genéro: Serie de TV. Drama. Fantástico. Terror 
                  <br> La historia de amor de Apollo y Emma es un cuento de hadas, hasta que Emma desaparece misteriosamente. Desconsolado, Apolo se ve inmerso en una odisea mortal por una Nueva York que no sabía que existía. Basada en la galardonada novela de Victor LaValle.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/15-2.jpg" alt="">
               <h3>The kill Room</h3>
            </div>
            <div class="contenido atras">
               <h3>The kill Room</h3>
               <p>Genéro: Acción. Comedia 
                  <br>Un asesino a sueldo, su jefe, una comerciante de arte y un plan de blanqueo de dinero convierten accidentalmente de la noche a la mañana a este asesino en una sensación vanguardista, que hace que se enfrente al mundo del arte y a los bajos fondos.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
      <h2><center>Octubre</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque4-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/16-2.jpg" alt="">
            <h3>Apéndice</h3>
         </div>
         <div class="contenido atras">
            <h3>Apéndice/h3>
            <p>Genéro: Terror. Drama
               <br>La vida de una joven diseñadora de moda se tuerce cuando sus pensamientos internos más oscuros se manifiestan en algo espantoso que no deja de crecer. Adaptación del cortometraje de 2021 de Bite Size Halloween, "Appendage".</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/17-2.jpg" alt="">
            <h3>El exorcista: Creyente</h3>
         </div>
         <div class="contenido atras">
            <h3>El exorcista: Creyente</h3>
            <p>Genéro: Terror 
               <br>Desde la muerte de su esposa embarazada en un terremoto en Haití hace 12 años, Victor Fielding ha criado solo a su hija Angela</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/18-2.jpg" alt="">
            <h3>Desperation Road</h3>
         </div>
         <div class="contenido atras">
            <h3>Desperation Road</h3>
            <p>Genéro: Thriller
               <br>
               En una ciudad dura de Mississippi, una mujer y su hija pequeña se ven atrapadas en un tiroteo cuando el whisky, las armas y el deseo de venganza se cruzan violentamente</p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/19-2.jpg" alt="">
               <h3>The Burial</h3>
            </div>
            <div class="contenido atras">
               <h3>The Burial</h3>
               <p>Genéro: Drama
                  <br>Un abogado ayuda al propietario de una funeraria a salvar su negocio familiar de un gigante empresarial. En un intento de dar relevancia a un caso árido, el abogado desentierra una compleja red de raza, poder y opresión que obliga a todos a examinar los prejuicios.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/20-2.jpg" alt="">
               <h3>Asesinos de la Luna</h3>
            </div>
            <div class="contenido atras">
               <h3>Asesinos de la Luna</h3>
               <p>Thriller. Western. Drama 
                  <br>Ambientada en la Oklahoma de la década de 1920, narra los asesinatos en serie de los miembros de la nación indígena Osage, que era muy rica en petróleo; una serie de crímenes brutales que más tarde se conocería como el "Reinado del Terror".</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <h2><center>Noviembre</center></h2>
       <!--inicio tarjetas-->
   <div class="tarjetasbloque5-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/21-2.jpg" alt="">
            <h3>Through the Dark</h3>
         </div>
         <div class="contenido atras">
            <h3>Through the Dark</h3>
            <p>Genéro: Acción
               <br>En el oscuro paisaje del delta del Mississippi, un boxeador a puño limpio intenta saldar sus deudas en un último y desesperado intento por salvar la casa familiar de su moribunda madre adoptiva. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/22-2.jpg" alt="">
            <h3>Squealer</h3>
         </div>
         <div class="contenido atras">
            <h3>Squealer</h3>
            <p>Genéro: Terror. Thriller
               <br>Cuando un policía local y una trabajadora social demasiado entusiasta siguen las pistas sobre los casos de personas desaparecidas en la ciudad, realizan impactantes descubrimientos en una granja de cerdos, donde el carnicero del pueblo ha estado sacrificando algo más que ganado.  </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/23-2.jpg" alt="">
            <h3>The Marvels</h3>
         </div>
         <div class="contenido atras">
            <h3>The Marvels</h3>
            <p>Genéro: Ciencia ficción. Fantástico. Acción. Aventuras. Comedia
               <br>Carol Danvers, alias Capitana Marvel, ha recuperado la identidad que le arrebataron los tiránicos Kree y se ha cobrado su venganza contra la Inteligencia Suprema. Pero una serie de consecuencias imprevistas la obligan a cargar con el peso de un universo desestabilizado.</p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/24-2.jpeg" alt="">
               <h3>Blade</h3>
            </div>
            <div class="contenido atras">
               <h3>Blade</h3>
               <p>Genéro: Fantasía/Acción
                  <br> Un hombre medio mortal, medio vampiro, capaz de andar bajo la luz solar, trata de vengar la muerte de su madre e impedir que los vampiros dominen el mundo.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
   <h2><center>Diciembre</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque6-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/25-2.jpg" alt="">
            <h3>Aquaman 2</h3>
         </div>
         <div class="contenido atras">
            <h3>Aquaman 2</h3>
            <p>Genéro:  Acción/Fantasía 
               <br>Arthur se ve obligado a sacar de prisión a su hermanastro, Orm, para que lo ayude a detener a Kane, quien ha atacado Atlantis tras encontrar un tridente negro que lo posee y le da la fuerza para vengar la muerte de su padre.   </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/26-2.jpg" alt="">
            <h3>Wonka</h3>
         </div>
         <div class="contenido atras">
            <h3>Wonka</h3>
            <p>Genéro: Acción. Aventuras. Ciencia ficción. Comedia 
               <br>Armado únicamente con muchos sueños y ganas de aventura, el joven chocolatero Willy Wonka conoce a los oompa-loompas y se dispone a cambiar el mundo.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/segundo semestre/27-2.jpg" alt="">
            <h3>Evil Dead</h3>
         </div>
         <div class="contenido atras">
            <h3>Evil Dead</h3>
            <p>Genéro: Terror. Fantástico
               <br>Historia de dos hermanas separadas cuyo reencuentro se ve interrumpido por el surgimiento de demonios poseedores de carne, empujándolos a una batalla por la supervivencia mientras se enfrentan a la versión de familia más aterradora que se pueda imaginar.
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2023/segundo semestre/28-2.jpg" alt="">
               <h3>Wish</h3>
            </div>
            <div class="contenido atras">
               <h3>Wish</h3>
               <p>Genéro: Animación. Fantástico. Aventuras. Comedia. Musical
                  <br>Asha y una pequeña bola de energía ilimitada llamada Star demuestran que cuando la voluntad de un ser humano valiente se conecta con la magia de las estrellas, pueden suceder cosas maravillosas. </p>
            </div>
         </div>
         
      </div>
       <!--fin tarjetas-->
   </div>
</body>
</html>