<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Peliculas del 2022</title>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/2022.css">
</head>
<body>
   <!-- inicio navbar-->
   <div class="arriba">
      <div class="img">
   <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
</div>
   <h1><center>FILMS.CO</center></h1>
   <div class="img2">
   <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
</div>
</div>
   <nav >
      <ul class="menu_horizontal">
         <li><a href="../views/index.html">Inicio</a></li>
      <li>
         <a href="../views/2022.html">2022</a>
      <ul class="menu_desplegable">
         <li><a href="../views/1_2022.html">Primer Semestre</a></li>
         <li><a href="../views/2_2022.html">Segundo Semestre</a></li>
      </ul>
      </li>
      <li>
         <a href="../views/2023.html">2023</a>
      <ul class="menu_desplegable">
         <li><a href="../views/1_2023.html">Primer Semestre</a></li>
         <li><a href="../views/2_2023.html">Segundo Semestre</a></li>
      </ul>
   </li>
      </ul>

   </nav>
      <!--fin navbar-->
      <h2><center>Julio</center></h2>
      <!--inicio tarjetas-->
   <div class="tarjetasbloque1">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-01.jpg" alt="">
            <h3>Thor Love/Thunder</h3>
         </div>
         <div class="contenido atras">
            <h3>Thor Love and Thunder</h3>
            <p>Genéro:
               <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-02.jpg" alt="">
            <h3>La Chica Salvaje</h3>
         </div>
         <div class="contenido atras">
            <h3>La Chica Salvaje</h3>
            <p>Genéro: Fantástico. Acción. Aventuras. Comedia. Romance 
               <br>El Dios del Trueno (Chris Hemsworth) emprende un viaje que no se parece en nada a lo que se ha enfrentado hasta ahora: una búsqueda de la paz interior. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-0.9.jpg" alt="">
            <h3>El Agente Invisible</h3>
         </div>
         <div class="contenido atras">
            <h3>El Agente Invisible</h3>
            <p>Genéro: Thriller. Acción
               <br>
               El agente de la CIA Court Gentry (Ryan Gosling), alias Sierra Seis, fue sacado de una cárcel federal reclutado por su supervisor, Donald Fitzroy (Billy Bob Thornton). Gentry fue en su día un mercader de la muerte altamente cualificado, autorizado por la Agencia.</p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-00.jpg" alt="">
               <h3>Minions</h3>
            </div>
            <div class="contenido atras">
               <h3>Minions</h3>
               <p>Genéro:
                  <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet i</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-0.5.jpg" alt="">
               <h3>Mr.Malcom's list</h3>
            </div>
            <div class="contenido atras">
               <h3>Mr.Malcom's list</h3>
               <p>Genéro: Animación. Comedia. Aventuras
                  <br>Son los años 70 y Gru crece en un barrio residencial, en pleno boom de los peinados cardados y los pantalones de campana. Como fan incondicional de un famoso supergrupo de villanos, 'Los salvajes 6', Gru idea un plan para demostrarles que es lo suficientemente malvado como para trabajar con ellos. </p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <h2><center>Agosto</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque2-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-03.jpg" alt="">
            <h3>Bros</h3>
         </div>
         <div class="contenido atras">
            <h3>Bros</h3>
            <p>Genéro: Comedia, Romance
               <br>Universal Pictures se enorgullece de presentar este otoño la primera comedia romántica de un gran estudio sobre dos hombres gais que, tal vez, posiblemente, probablemente... estén destinados al amor. Aunque, con sus frenéticas vidas, ¿podrán permitírselo? </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-04.jpg" alt="">
            <h3>Beast</h3>
         </div>
         <div class="contenido atras">
            <h3>Beast</h3>
            <p>Genéro: Terror/Aventura
               <br>Un hombre que acaba de enviudar y sus dos hijas adolescentes viajan a una reserva de caza en Sudáfrica. Sin embargo, la experiencia terapéutica se convierte en una lucha por la supervivencia cuando un león sediento de sangre comienza a acecharlos.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-05.jpg" alt="">
            <h3>Super Mascotas</h3>
         </div>
         <div class="contenido atras">
            <h3>Super Mascotas</h3>
            <p>Genéro: Animación
               <br>
               Krypto el Superperro y Superman son amigos inseparables que comparten los mismos superpoderes y luchan juntos contra el crimen en Metrópolis.</p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-06.jpg" alt="">
               <h3>Bullet Train</h3>
            </div>
            <div class="contenido atras">
               <h3>Bullet Train</h3>
               <p>Genéro: Acción. Thriller
                  <br>En su carrera inaugural, el tren bala más rápido del mundo está equipado con una bomba que explotará si baja a menos de 200 mph. Producción bajo presupuesto de The Asylum lanzada al mercado doméstico en EEUU para aprovecharse del éxito de "Bullet Train", dirigida por David Leitch y protagonizada por Brad Pitt.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <h2><center>Septiembre</center></h2>
       <!--inicio tarjetas-->
   <div class="tarjetasbloque3-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-07.jpg" alt="">
            <h3>Bajo Vigilancia</h3>
         </div>
         <div class="contenido atras">
            <h3>Bajo Vigilancia</h3>
            <p>Genéro: Acción. Thriller
               <br>Eddie Flynn, un infame traficante de armas irlandés, está huyendo después de una sangrienta guerra de pandillas y termina en los Estados Unidos como intermediario de un cartel mexicano.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-08.jpg" alt="">
            <h3>Honk For Jesus</h3>
         </div>
         <div class="contenido atras">
            <h3>Honk For Jesus</h3>
            <p>Genéro: Comedia 
               <br>Tras un gran escándalo, Trinity Childs, la primera dama de una prominente megaiglesia bautista del sur, intenta ayudar a su pastor-marido, Lee-Curtis Childs, a reconstruir su congregación </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-09.jpg" alt="">
            <h3>MVP</h3>
         </div>
         <div class="contenido atras">
            <h3>MVP</h3>
            <p>Genéro: Drama
               <br>
               En las calles de Hollywood, un veterano sin hogar salva a un jugador de la NFL recientemente retirado del escándalo. Con sus "días de gloria" detrás de ellos, los dos hombres se unen en busca de un propósito e identidad.</p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-10.jpg" alt="">
               <h3>Confieza, Fletch</h3>
            </div>
            <div class="contenido atras">
               <h3>Confieza, Fletch</h3>
               <p>Genéro: Comedia
                  <br>Después de convertirse en el principal sospechoso de múltiples asesinatos, Fletch se esfuerza por demostrar su inocencia mientras busca simultáneamente la colección de arte robada de su prometida.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-11.jpg" alt="">
               <h3>Clerks 3</h3>
            </div>
            <div class="contenido atras">
               <h3>Clearlks 3</h3>
               <p>Genéro: Comedia
                  <br>Después de convertirse en el principal sospechoso de múltiples asesinatos, Fletch se esfuerza por demostrar su inocencia mientras busca simultáneamente la colección de arte robada de su prometida. </p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <h2><center>Octubre</center></h2>
      <!--inicio tarjetas-->
   <div class="tarjetasbloque4-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-12.jpg" alt="">
            <h3>Halloween:El Final</h3>
         </div>
         <div class="contenido atras">
            <h3>Halloween:El Final</h3>
            <p>Genéro: Terror. Thriller
               <br>Cuatro años después de los acontecimientos de Halloween Kills, Laurie vive con su nieta Allyson (Andi Matichak) y está a punto de terminar de escribir sus memorias. Nadie ha vuelto a ver a Michael Myers desde entonces.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-13.jpg" alt="">
            <h3>Black Adam</h3>
         </div>
         <div class="contenido atras">
            <h3>Black Adam</h3>
            <p>Genéro: Acción. Fantástico. Ciencia ficción. Comedia
               <br>Casi 5.000 años después de haber sido dotado de los poderes omnipotentes de los antiguos dioses, Black Adam (Johnson) es liberado de su tumba terrenal, listo para desatar su forma única de justicia en el mundo moderno. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-14.jpg" alt="">
            <h3>Ámsterdam</h3>
         </div>
         <div class="contenido atras">
            <h3>Ámsterdam</h3>
            <p>Genéro: Drama. Romance. Comedia. Intriga
               <br>
               Epopeya romántica sobre tres amigos que se ven envueltos en una de las tramas secretas más impactantes de la historia de Estados Unidos. Basada en hechos que se mezclan con ficción. </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-15.jpeg" alt="">
               <h3>Boleto al Paraiso/h3>
            </div>
            <div class="contenido atras">
               <h3>Boleto al Paraiso</h3>
               <p>Genéro: ‧Romance/Comedia

                  <br>LUna pareja divorciada deja a un lado sus diferencias y viaja a Bali para evitar que su hija cometa el mismo error en el que ellos cayeron hace 25 años: casarse.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
      <h2><center>Nomviembre</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque5-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-16.jpg" alt="">
            <h3>El Tiempo del Armagedón</h3>
         </div>
         <div class="contenido atras">
            <h3>El Tiempo del Armagedón</h3>
            <p>Genéro: Drama/Coming-of-age
               <br>Una historia sobre el proceso de madurez, la fuerza de la familia y la búsqueda generacional del sueño americano. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-17.jpg" alt="">
            <h3>Lyle Lyle Crocodile</h3>
         </div>
         <div class="contenido atras">
            <h3>Lyle Lyle Crocodile</h3>
            <p>Genéro: Fantástico. Musical. Infantil. Comedia
               <br>Cuando la familia Primm se muda a Nueva York, su hijo adolescente Josh lucha por adaptarse a su nueva escuela y nuevos amigos. Todo eso cambia cuando descubre a Lilo, un cocodrilo cantante, a quien le gusta darse baños, el caviar y la buena música viviendo en el ático. </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-18.jpg" alt="">
            <h3>Black Panther WF</h3>
         </div>
         <div class="contenido atras">
            <h3>Black Panther WF</h3>
            <p>Genéro: Fantástico. Acción. Aventuras. Ciencia ficción. Drama
               <br>
               La reina Ramonda (Angela Bassett), Shuri (Letitia Wright), M’Baku (Winston Duke), Okoye (Danai Gurira) y las Dora Milaje (incluida Florence Kasumba), luchan para proteger su nación de la injerencia de potencias mundiales a raíz de la muerte del rey T’Challa </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-19.jpg" alt="">
               <h3>La Conspiración</h3>
            </div>
            <div class="contenido atras">
               <h3>La Conspiración</h3>
               <p>Genéro: Thriller
                  <br>Una joven periodista descubre una conspiración que involucra a un candidato presidencial de Estados Unidos que podría cambiar las elecciones y el destino del país.</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-20.jpg" alt="">
               <h3>Oppy</h3>
            </div>
            <div class="contenido atras">
               <h3>Oppy</h3>
               <p>Genéro: Documental
                  <br>La película sigue a Opportunity, el Mars Exploration Rover apodado cariñosamente Oppy por sus creadores y científicos de la NASA. Originalmente, se esperaba que Oppy viviera solo 90 días, pero finalmente exploró Marte durante casi 15 años.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
   <h2><center>Diciembre</center></h2>
   <!--inicio tarjetas-->
   <div class="tarjetasbloque6-2">
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-21.jpg" alt="">
            <h3>Noche Violenta</h3>
         </div>
         <div class="contenido atras">
            <h3>Noche Violenta</h3>
            <p>Genéro: Thriller. Comedia. Acción
               <br>Cuando un equipo de mercenarios irrumpe en Nochebuena dentro de un complejo familiar adinerado y toma como rehenes a todos los que están dentro, no estaban preparados para un defensor sorpresa</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-22.jpg" alt="">
            <h3>Hacía la Libertad</h3>
         </div>
         <div class="contenido atras">
            <h3>Hacía la Libertad</h3>
            <p>Genéro: Aventuras. Acción. Drama. Bélico. Thriller
               <br>Inspirada en la conmovedora historia real de un hombre dispuesto a cualquier cosa por su familia, y por la libertad. Cuando Peter, un hombre esclavizado, arriesga su vida por escapar y regresar con su familia, se embarca en una peligrosa travesía de amor y resiliencia.</p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Segundo semestre/2-23.jpg" alt="">
            <h3>Avatar</h3>
         </div>
         <div class="contenido atras">
            <h3>Avatar</h3>
            <p>Genéro: Ciencia ficción. Aventuras. Fantástico. Acción
               <br>
               Más de una década después de los acontecimientos de 'Avatar', los Na'vi Jake Sully, Neytiri y sus hijos viven en paz en los bosques de Pandora hasta que regresan los hombres del cielo.</p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-24.jpg" alt="">
               <h3>As Good As Dead</h3>
            </div>
            <div class="contenido atras">
               <h3>As Good As Dead</h3>
               <p>Genéro: Acción
                  <br>Bryant (Michael Jai White), un hombre con un pasado misterioso, se muda a un pequeño pueblo fronterizo mexicano para empezar de nuevo y vivir una vida sencilla.</p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->


</body>
</html>