<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title></title>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/index.css">
</head>
<body>
   <!-- inicio navbar-->
   <div class="arriba">
      <div class="img">
   <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
</div>
   <h1><center>FILMS.CO</center></h1>
   <div class="img2">
   <img src="../assets/img/imagen_2024-03-30_212332069-removebg-preview.png" alt="" width="100px" height="100px">
</div>
</div>
   <nav >
      <ul class="menu_horizontal">
         <li><a href="../views/index.html">Inicio</a></li>
      <li>
         <a href="../views/2022.html">2022</a>
      <ul class="menu_desplegable">
         <li><a href="../views/1_2022.html">Primer Semestre</a></li>
         <li><a href="../views/2_2022.html">Segundo Semestre</a></li>
      </ul>
      </li>
      <li>
         <a href="../views/2023.html">2023</a>
      <ul class="menu_desplegable">
         <li><a href="../views/1_2023.html">Primer Semestre</a></li>
         <li><a href="../views/2_2023.html">Segundo Semestre</a></li>
      </ul>
   </li>
      </ul>

   </nav>
      <!--fin navbar-->

      <h2><center>Mejores Peliculas del 2022</center></h2>
      <!--inicio tarjetas-->
   <div class="tarjetas"> 
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2022/Primer Semestre/2.jpg" alt="">
            <h3>El Gato con Botas</h3>
         </div>
         <div class="contenido atras">
            <h3>El Gato con Botas</h3>
            <p>Genéro:
               <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/11.jpg" alt="">
               <h3>Uncharted</h3>
            </div>
            <div class="contenido atras">
               <h3>Uncharted</h3>
               <p>Genéro:
                  <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet i</p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/14.jpg" alt="">
               <h3>The Batman</h3>
            </div>
            <div class="contenido atras">
               <h3>The Batman</h3>
               <p>Genéro:
                  <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/26.jpg" alt="">
               <h3>Jurassic World Dominion</h3>
            </div>
            <div class="contenido atras">
               <h3>Jurassic World Dominion</h3>
               <p>Genéro:
                  <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
            </div>
         </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Segundo semestre/2-01.jpg" alt="">
               <h3>Thor: Love/Thunder</h3>
            </div>
            <div class="contenido atras">
               <h3>La Hija de la Reina</h3>
               <p>Genéro:
                  <br>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <div class="vertodo">
         <center>
         <a href="../views/1_2022.html">Ver Todo</a>
      </center>
       </div>
<div class="title2023">
      <h2><center>Mejores Peliculas del 2023</center></h2>
   </div>
   
      <!--inicio tarjetas-->
   <div class="tarjetas"> 
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/3.jpg" alt="">
            <h3>Detective Knight</h3>
         </div>
         <div class="contenido atras">
            <h3>Detective Knight</h3>
            <p>Genéro:
               <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/11.jpg" alt="">
            <h3>Creed 3</h3>
         </div>
         <div class="contenido atras">
            <h3>Creed 3</h3>
            <p>Genéro:
               <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
         </div>
      </div>
        <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/21.jpg" alt="">
            <h3>Guardians Galaxy</h3>
         </div>
         <div class="contenido atras">
            <h3>Guardians Galaxy</h3>
            <p>Genéro:
               <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
         </div>
      </div>
      <div class="tarjeta">
         <div class="contenido frente">
            <img src="../assets/img/2023/Primer Semestre/16.jpg" alt="">
            <h3>Super Mario Bros</h3>
         </div>
         <div class="contenido atras">
            <h3>Super Mario Bros</h3>
            <p>Genéro:
               <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
         </div>
      </div>
         <div class="tarjeta">
            <div class="contenido frente">
               <img src="../assets/img/2022/Primer Semestre/8.jpg" alt="">
               <h3>La Hija de la Reina</h3>
            </div>
            <div class="contenido atras">
               <h3>La Hija de la Reina</h3>
               <p>Genéro:
                  <br>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quam eveniet amet. Quasi, fuga? Eveniet impedit quasi </p>
            </div>
         </div>
      </div>
       <!--fin tarjetas-->
       <div class="vertodo">
         <center>
         <a href="../views/1_2023.html"> Ver Todo</a>
      </center>

       </div>

   
</body>
</html>